<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ken.expressquery" >

    <application android:theme="@style/AppTheme">

        <activity android:name=".mainui.activity.WelcomeActivity"/>
        <service android:name="com.amap.api.location.APSService" />
        <!-- 高德地图key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="084b4e9b07714913fa5d6e114493a2ed" />

        <activity android:name=".mainui.activity.LoginActivity" />
        <activity android:name="com.ken.user.register.v.RegisterActivity" />
        <!-- 禁止底部导航随键盘弹起 -->
        <activity
            android:name=".mainui.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mainui.activity.SearchResultActivity" />
        <activity android:name=".send.appointment.v.SendExpressActivity" />
        <activity android:name=".send.SenderPrimaryActivity" />
        <activity android:name=".send.myorder.v.MyOrderActivity" />
        <activity android:name=".management.AddAddressActivity" />
        <activity android:name=".management.AddressBookActivity" />
        <activity android:name=".management.address.v.ManageAddressActivity"/>
    </application>

</manifest>
